*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Myriad Pro Regular;
    src: url(../font-family/Myriad\ Pro\ Regular.ttf) format("truetype");
}
@font-face {
    font-family: MyriadPro-SemiCn;
    src: url(../font-family/MyriadPro-SemiCn.otf);
}
body{
    font-family:MyriadPro-SemiCn;
    color: #77787B;
}

/* header styles */
header {
    display: flex;
    padding: 0px 120px;
    justify-content: space-between;
    box-shadow: 0 8px 5px -6px #d3d3d3;
    background-color: #fff;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 10;
    max-width: 1400px;
    margin: 0 auto;
}
.logo{
    position: relative;
    top: 16px;
}
.header_logo{
    width: 150px;
    position: absolute;
}
.header_menu {
    display: flex;
    list-style: none;
    padding: 32px 0px;
}

.header_menu li a{
    font-size: 16px;
    color: #739eb7;
    margin: 6px;
    text-decoration: none;
    font-weight: 600;
}
.header_menu li a.active{
    border-bottom: 4px solid #F48120;
    color: #004C7A;
    padding-bottom: 4px;
}
.tablet_menu{
    display: none;
    list-style: none;
}
.search_box{
    border: none;
    border-radius: 5px;
    padding-left: 25px;
    border-bottom: 1px solid #77787b;
    background-color: #efefef;
    height: 40px;
}
.mobile_menu{
    width: 70%;
}
.search{
    position: relative;
}
.fa-search{
    color: #739eb7;
    font-size: 22px;
    position: absolute;
    left: 6px;
    top:6px;
}

/* body_content styles */
.body_content{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 200px 15px 0px;
    margin-bottom: 150px;
    background-image: url(../images/avellino_home_bg.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
.content_wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 0px 15px 0px;
    margin: 0px auto;
}
.content_title{
    color: #004C7A;
    font-weight: 300;
    font-size: 58px;
    letter-spacing: 3px;
    line-height: 60px;
    text-transform: uppercase;
    width: 50%;
}
.content_para{
    color: #77787B;
    font-size: 16px;
    line-height: 24px;
    width: 45%;
    margin: 0px 0px 30px;
}
.submit_btn{
    display: block;
    margin: 24px 0px 0px;
    font-weight: 600;
    background-color: #F48120;
    color: #fff;
    padding: 12px 30px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: 1px solid #F48120;
}
.submit_btn:hover{
   color: #a89382;
   background-color: #fff;
}

/* content box styles */
.content_box_avagen {
    max-width: 1140px;
    display: flex;
    margin: 0px 0px 0px 14%;
    align-items: center;
    padding-top: 30%;
}
.avegen_logo_tag{
    width: 80%;
}
.content_box_one {
    width: 33%;
    padding: 0px 15px;
}
.content_box_para{
    color: #77787B;
    text-align: center;
    line-height: 24px;
    padding: 0px 50px;
    margin-bottom: 30px;
}
.content_box_button{
    display: block;
    margin: 24px 0px 0px;
    font-weight: 600;
    background-color: #F48120;
    color: #fff;
    padding: 12px 30px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: 1px solid #F48120;
}

.features_parent{
    max-width: 1140px;
    margin: 0 auto;
    padding:0px 15px;
    width: 100%;
}
.diagonstics{
    display: flex;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 80px 10px;
    align-items: center;
}
.diagonstics_content{
    padding: 10px 0px 0px 0px;
    margin-left: 12%;
    text-align: center;
    width: 100%;
}
.diagonstics_content_title{
    color: #F48120;
    font-size: 28px;
    font-weight: 500;
}
.diagonstics_content_para{
    font-size: 16px;
    line-height: 24px;
    padding: 18px 0px 28px;
}
.diagonstics_content_btn{
    margin: 24px auto 0px;
    font-weight: 600;
    background-color: #F48120;
    color: #fff;
    padding: 12px 30px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: 1px solid #F48120;
    display: block;
}
.diagonstics_content_btn:hover{
    background-color: #fff;
    color: #F48120;
}

.features_image{
    width: 100%;
}
.diagonstics_image{
    width: 80%;
}
.mobile_features_image{
    display: none;
}

/* footer styles */
.back_to_top_button{
    position: relative;
    text-align: center;
}
.back_to_top{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,0);
    width: 225px;
    height: 75px;
    background: #cedde6;
    background: linear-gradient(
180deg,#cedde6 0,#c7d1d7 100%);
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 24px;
    color: #fff;
}
footer{
    background-color: #739eb7;
    color: #fff;
    margin: 164px 0px 0px;
}
footer::after,footer::before{
    content: '';
    position: absolute;
    width: 15%;
}
.footer_content{
    max-width: 700px;
    margin: 0 auto;
    padding: 48px 0px 128px;
}
.footer_menu{
    list-style-type: none;
    display: flex;
}
.footer_menu li a{
    display: block;
    font-size: 12.8px;
    color: #fff;
    padding: 0px 4px;
    text-decoration: none;
}
.footer_menu li a::after{
    content: "|";
    padding-left: 7px;
}
.footer_menu li a:nth-of-type(5)::after{
    content: "";
}
.footer_menu li a:nth-of-type(5)::after {
    content: "";
}
.social_media{
    display: flex;
    margin: 32px 54px 24px;
}
.social_media p a{
    color: #fff;
    font-size: 36px;
    padding: 0px 16px;
}
.social_media_border{
    border-right: 1px solid #fff;
    margin: 0px 48px;
}
.contact_us_button{
    background-color: #fff;
    border: 1px solid #F48120;
    padding: 14px 30px;
    width: 230px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #F48120;
    text-decoration: none;
}
.contact_us_button:hover{
    background-color: #F48120;
    color: #fff;
}
.contact_us_button .fa-caret-right{
    margin-left: 8px;
}
.copyright {
    text-align: center;
    font-size: 12.8px;
}
.copyright a{
    color: #fff;
}
.tablet_footer_menu {
    display: none;
    text-align: center;
}
.tablet_footer_menu div a{
    font-size: 16px;
    color: #fff;
    padding: 0px 4px;
    text-decoration: none;
    line-height: 24px;
}
/* media query elements */

@media (max-width:1199px){
    .content_wrapper,.content_box_avagen{
        max-width: 960px;
    }
    .content_title{
        font-size: 40px;
        letter-spacing: 1px;
        line-height: normal;
    }
    .content_para{
        padding: 12px 0px 0px;
    }
    .content_box_para{
        line-height: 26px;
        padding: 0px 24px;
    }
    .features_parent{
       max-width: 960px;
    }
    .content_box_avagen{
        padding-top: 20%;
    }
   
}
@media (max-width:991px){
    /* header styles */ 
    header{
        justify-content: space-between;
        padding: 0px 24px;
    }
    .header_menu  li a{
        display: none;
    }
    .header_logo{
        width: 85px;
    }
    .tablet_menu{
        display: flex;
    }
    .body_content{
     padding: 80px 0px 0px;
    }
    .content_wrapper, .content_box_avagen{
        max-width: 720px;
    }
    .content_box_avagen{
     padding-top: 30%;
    }
    .content_box_one{
        margin: 0px 32px;
    }
    .content_box_para{
        padding: 0px 12px;
    }
    .content_title{
      line-height: 40px;
    }
    .diagonstics_content_title{
        font-size: 24px;
        line-height: 28.8px;
    }
    /* footer styles */
    .footer_menu{
        display: none;
    }
    .tablet_footer_menu{
        display: block;
    }
    .social_media{
        width: 270px;
        display: block;
        margin: 32px auto;
    }
    .social_media p{
        display: inline;
    }
    .contact_us_button{
        margin: 24px 14px 0px;
        display: block;
    }
}
@media(max-width:767px){
    .body_content{
    padding-top: 100px;
    }
.content_wrapper {
 max-width: 540px;
 padding: 0px 15px;
 margin: 0px auto;
}
.content_title{
    line-height: 1em;
    width: 100%;
}
.content_para{
    width: 100%;
}
.content_box_avagen{
    width: 100%;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    margin: 0px 12px;
}
.content_box_one{
    width: 80%;
    padding: 32px 0px;
}

.content_box_para{
    padding: 0;
}
.content_box_button{
margin: 24px auto 0px;
}
.features_parent{
    max-width: 540px;
}
.diagonstics {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0;
}
.diagonstics_image{
    margin-top: 24px;
}
}
@media(max-width:575.98px){
    .body_content{
        background-image: url(../images/homeHeroMobile.png);
        padding: 50px 0px 0px 0px;
        height: auto;
    }
    .content_wrapper{
        padding: 50px 15px;
    }
    .content_title{
        font-size: 28.8px;
        text-align: center;
        margin-bottom: 20px;
    }
    .content_para{
        text-align: center;
        padding: 0px 15px;
    }
    .submit_btn,.content_box_button,.diagonstics_content_btn{
        margin: 24px auto 0px;
        width: 100%;
    }
    .diagonstics{
        width: 100%;
    }
    .diagonstics_content{
        margin-left: 0px;
    }
    .diagonstics_content_title{
        font-size: 20.8px;
        font-weight: 700;
    }
    .features_image{
        display: none;
    }
    .mobile_features_image{
        display: block;
        width: 100%;
    }
    .diagonstics_image{
        width: 60%;
    }
}
@media(max-width:450px){
.avegen_logo_tag{
    width: 80%;
}
.content_box_avagen{
    padding-top: 0;
}
.content_title{
    margin-bottom: 400px;
}
}